/* ==========================================================================
  Colors
  Only define colors here. Don't use sass color functions, stick to hex values,
  or the color component in styleguide won't regenerate automatically anymore.
 ========================================================================== */

/* Primary
 ========================================================================== */

$primary-color: #0076FF;

/* Backgrounds
 ========================================================================== */

$bg-dark: #2C2876;
$bg-light: #E5F1FF;

/* Text colors
 ========================================================================== */

$body-color: #52575B;
$muted-alt: #BDC6D1;
$heading-color: #2D3238;