/* Variables 
   ========================================================================== */

$grid-gutter: 3.2rem;
$bp1: 500px;
$bp2: 800px;
$body-font-family: "Roboto", Helvetica, Arial, sans-serif;
