.c-container-outer
    .c-container-inner
        .u-mt-3
            footer.c-footer
                .u-py-2
                    .c-toolbar
                        .c-toolbar-left
                            p.u-o-50 ©Bedrock 2021
                        .c-toolbar-right
                            p
                                | Bedrock is a&nbsp;
                                a(href='https://mono.company') Mono
                                |
                                | project. We are a team of interface designers from Belgium.
