nav.c-side-nav
     h4 Basics
     ul
            li: a(href='/documentation/basic-tutorial') Basic tutorial
            li: a(href='/documentation/page-index-and-tree') Page index and tree
            li: a(href='/documentation/working-with-pug') Working with Pug
            li: a(href='/documentation/working-with-the-styleguide') Working with the style guide
            li: a(href='/documentation/practical-tips') Practical tips
     h4 Technical
     ul
            li: a(href='/documentation/configuration') Configuration
            li: a(href='/documentation/updating-bedrock') Updating Bedrock
            li: a(href='/documentation/requirements') Requirements
     h4 Advanced
     ul
            li: a(href='/documentation/advanced-usage') General
            li: a(href='/documentation/working-with-data') Working with data
            li: a(href='/documentation/styling-the-style-guide') Styling the style guide
            li: a(href='/documentation/adding-external-css-libraries') Adding external CSS libraries
            li: a(href='/documentation/adding-javascript') Adding Javascript
            li: a(href='/documentation/from-prototype-to-production') From prototype to production
            li: a(href='/documentation/advanced-pug-tips') Advanced Pug tips